*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: linear-gradient(to right, rgb(235, 210, 178), rgb(255, 255, 255));
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem;
}

.custom-card {
    width: 25rem;
    margin: 1rem;
    border-radius: 10px;
    overflow: hidden;
}

.avatar {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}


.card-title {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card-footer i{
    font-size: 1.2rem;
    color: rgb(224, 114, 215);
    cursor: pointer;
}

